<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appBarImage</key>
	<string>app bar bg green</string>
	<key>fabImage</key>
	<string>fab green</string>
	<key>rectangleLineImage</key>
	<string>Rectangle Line green</string>
	<key>rectangleSelctedImage</key>
	<string>Rectangle Selected green</string>
	<key>shapeimage</key>
	<string>ShapeButton green</string>
	<key>loadColor</key>
	<string>#72D572</string>
	<key>mainColor</key>
	<string>#259B24</string>
	<key>inferiorColor</key>
	<string>#056F00</string>
	<key>buttonColor</key>
	<string>#0A7E07</string>
</dict>
</plist>
