<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appBarImage</key>
	<string>app bar bg light green</string>
	<key>fabImage</key>
	<string>fab light green</string>
	<key>rectangleLineImage</key>
	<string>Rectangle Line light green</string>
	<key>rectangleSelctedImage</key>
	<string>Rectangle Selected light green</string>
	<key>shapeimage</key>
	<string>ShapeButton light green</string>
	<key>loadColor</key>
	<string>#C5E1A5</string>
	<key>mainColor</key>
	<string>#8BC34A</string>
	<key>inferiorColor</key>
	<string>#558B2F</string>
	<key>buttonColor</key>
	<string>#689F38</string>
</dict>
</plist>
